html {
  scroll-behavior: smooth;
}
    @font-face {
      font-family: 'ClashDisplay-Medium';
      src: url('fonts/ClashDisplay-Medium.woff2') format('woff2'),
           url('fonts/ClashDisplay-Medium.woff') format('woff'),
           url('fonts/ClashDisplay-Medium.ttf') format('truetype');
           font-weight: 500;
           font-display: swap;
           font-style: normal;
    }
    
    @font-face {
      font-family: 'ClashDisplay-Semibold';
      src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
           url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
           url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
           font-weight: 600;
           font-display: swap;
           font-style: normal;
    }
    

/* Variables */

:root {
  --body: 14px;
  --nav: calc(var(--body)*1)
  --heading: calc(var(--body)*2.11);
  --author: calc(var(--body));
  --smallspacing: 18px;
  --mediumspacing: 32px;
  --largespacing: 52px;}

@media (min-width: 768px) {
  :root {
  --body: 17px;
  --nav: calc(var(--body)*1.5);
  --heading: calc(var(--body)*4);
  --author: calc(var(--body)*1);
  --smallspacing: 32px;
  --mediumspacing: 52px;
  --largespacing: 150px;}}


/*
  @media print{
    .heading1 {page-break-before: auto;}
    .heading2 {page-break-before: auto;}
    .title {page-break-before: auto;}
    .body {page-break-before: auto;}
    .author {page-break-before: auto;}
    .line {page-break-before: auto;}
    
  @page{
    margin-top: 1cm;
    margin-bottom: 1cm;  
    }
      
    
    :root {
    --body: 12pt;
    --heading: calc(var(--body)*2);
    --heading2: calc(var(--body)*1.2);
    --title: calc(var(--body)*3.4);
    --author: calc(var(--body));
    --header: calc(var(--body)*1.2);
    --excerpt: 12pt;
    --smallspacing: 0.2cm;
    --mediumspacing: 0.7cm;
    --largespacing: 1cm;
    --xlspacing: 1.2cm;
    --sectionbreak: 1.6cm;
    --headingcolor: #FF7870;
    }} /*
    
    
    /* Nav bar*/
  
    a.navigation:link {color:#ff0000;
    }

    body {
      margin: 0;
      font-family: 'Inter', sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: black;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: black;
      color: red;
    }
    
    .topnav a.active {
      color: red;
    }
    
    .topnav .icon {
      display: none;
      color: white;
    }
    
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }


.heading { font-family: ClashDisplay-Medium;
  font-style: normal;
  font-size: var(--heading);
  position: absolute;
  left:100px;
  margin: 0px;
  line-height: 1;
  margin-top: var(--largespacing);
  color: #FFF7F5;}

.body{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: var(--body);
  line-height: auto;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--largespacing);
  width: 88%;
  color: #FFF7F5;
}

.author{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: var(--body);
  line-height: auto;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--mediumspacing);
  color: #FFF7F5;
}

  .small{
    margin-bottom: var(--smallspacing);
  }
    
  .medium{
    margin-top: var(--mediumspacing);
  }
    
  .large{
    margin-top: var(--largespacing);
  }

  body {
    background-color: black;
  }


/*author*/

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-1 {
  background-color: #D6E9FE;
  padding: 50px;
  margin: 0px;
}


/*custom cursor*/

html, body {
  margin: 0;
  padding: 0;
  cursor: none;
}

.nav-wrapper {
  height: 20vh;
}

nav {
  width: 76%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 8%;
}

.hover-this {
  transition: all 0.3s ease;
}

span {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 00;
  color: #fff;
  font-size: var(--nav);
  pointer-events: none;
  transition: transform 0.1s linear;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.6rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
  transform:translate(-50%, -50%) scale(8);
}

@media(min-width: 900px) {
  nav {
    display: flex;
    justify-content: space-around;
  }
}

@media(max-width: 900px) {
  nav {
    top: 10%;
  }
  
  .hover-this {
    width: 100%;
    padding: 10px 0;
    display: inline-block;
  }
}

/*icon*/
.plus {
  background: black;
  height: 50px;
  position: relative;
  width: 8px;
}
.plus:after {
  background: white;
  content: "";
  height: 8px;
  left: -21px;
  position: absolute;
  top: 21px;
  width: 50px;
}

/*slider*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slider__navi {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 999;
}

.slider__navi a {
	display: block;
	height: 6px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;
	box-shadow: none;
	border: none;
	background: rgba(0,0,0,0.2);
}

.slider__navi a.active {
	background: rgba(255,255,255,1);
}

body {
	position: relative;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	min-height: 100vh;
}

.flex__container {
  position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.flex__container.flex--active {
	z-index: 2;
}

.text--big {
	font-weight: 500;
	line-height: 110px;
  margin-left: -8px;
  font-family: ClashDisplay-Medium;
  font-style: normal;
  font-size: var(--heading);
  line-height: 1;
  color: #FFF7F5;
}

.text--normal {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 22px;
	margin-top: 25px;
}

.text__background {
	font-family: 'Poppins', sans-serif;
	position: absolute;
	left: 72px;
	bottom: -60px;
	color: rgba(0,0,0,0.05);
	font-size: 170px;
	font-weight: 700;
}

.flex__item {
	height: 100vh;
	color: #fff;
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 50%;
  height:80%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
  margin-top: 12%;
}

.flex__item--right {
	width: 50%;
  height:80%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
  margin-top: 12%;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}

/* Graphic design essentials */

.flex--pi .flex__item--left {
	background-color: #414344;
}

.flex--pi .flex__item--right {
	background: #414344;
}


/* Color */

.flex--color .flex__item--left {
	background: #034DC5;
}

.flex--color .flex__item--right {
	background: #b7d1f7;
}

/* Type */

.flex--type .flex__item--left {
  background: #C13721;
}

.flex--type .flex__item--right {
	background: #EAEB91;
}

/* Shape */

.flex--shape .flex__item--left {
	background: #BE7852;
}

.flex--shape .flex__item--right {
	background: #c89a82;
}

.flex__content {
	margin-left: 80px;
	width: 55%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.pokemon__img {
	position: absolute;
	bottom: 20px;
	left: 50%;
  width: 50%;
	max-height: 40vw;
  height: 100%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .pokemon__img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .pokemon__img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex--pi .flex__item--left, .flex--pi .flex__item--right,.flex--color .flex__item--left, .flex--color .flex__item--right, .flex--type .flex__item--left, .flex--type .flex__item--right, .flex--shape .flex__item--left, .flex--shape .flex__item--right{
    flex: 100%;
  }
}
