/* Variables */

:root {
  --body: 12px;
  --nav: calc(var(--body)*1)
  --heading: calc(var(--body)*2.11);
  --author: calc(var(--body));
  --smallspacing: 18px;
  --mediumspacing: 32px;
  --largespacing: 52px;}

@media (min-width: 768px) {
  :root {
  --body: 17px;
  --nav: calc(var(--body)*1.5);
  --heading: calc(var(--body)*4);
  --author: calc(var(--body)*1);
  --smallspacing: 32px;
  --mediumspacing: 52px;
  --largespacing: 150px;}}

.body{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: var(--body);
  line-height: auto;
  max-width: 750px;
  margin-left: 15%;
  margin-right: auto;
  margin-top: var(--largespacing);
  width: 88%;
  color: #FFF7F5;
  }
  

  h1{
  font-family: ClashDisplay-Semibold;
  font-style: normal;
  font-size: 80px;
  position: absolute;
  bottom: 60px;
  left:100px;
  margin: 0px;
  line-height: 85px;
  color: white;
}

.heading{
  margin: -7px;
  position: relative;
  height: 470px;
  font-size: var(--heading);
  background-color:#034DC5 ;
  margin-bottom: 120px;
}



.heading p{
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 14px;
  position: absolute;
  bottom: 60px;
  right: 80px;
  margin: 0px;
 
}

#yellow{
  color: yellow;
}

.red{
  color: red;
}

#head{
  font-family: ClashDisplay-Medium;
  font-size: 20px;
}


body {
  background-color: #000000;
}

.text{
  
  background-color: #000000;
  margin: 0px 95px;
}

p {
  max-width: 750px;
  font-family: Arial,sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  color: white;
  
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: var(--body);
  line-height: auto;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--largespacing);
  width: 88%;
  color: #FFF7F5;
}

p1 {
  max-width: 900px;
  font-family: ClashDisplay-Medium;
  font-style: normal;
  font-size: 35px;
  line-height: 1.44em;
  color: white;
  margin: 120px 0px;
  display: block;
 }





